node_modules/
.env
dist/
*.tsbuildinfo
tsconfig.tsbuildinfo
public.key
.DS_Store
migration/
patch-*
task*
last_dump*

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions