node_modules/
.env
dist/
*.tsbuildinfo
tsconfig.tsbuildinfo
public.key
.DS_Store
migration/
patch-*
last_dump*
packages/integrations/data-producer/task.json
packages/integrations/data-producer/task-test.json

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions